/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*===================MENU==========================*/
#nombrepag{
    font-style: italic;
    color: white;
    
}
#menu{
    font-size: 14px;
    font-weight: bold;
    color: white;
}


/*===================SLIDER DE IMAGENES==========================*/

carousel-inner{
    max-height: 39rem;
}


